# Environment files
.env
.env.*
!.env.example

# Node
node_modules/
.npmrc
.pnpm-store/

# Next.js
.next/
out/

# Databases
data/*.db
prisma/data/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.idea/
.vscode/
.DS_Store
